<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keepupv1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/keepup_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_home" >
        </activity>
        <activity
            android:name=".activities.UnitsActivity"
            android:label="@string/title_activity_units_activity"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keepupv1.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keepupv1.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.IndividualUnitActivity"
            android:label="@string/title_activity_individual_unit"
            android:parentActivityName=".UnitsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keepupv1.UnitsActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keepupv1.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:parentActivityName=".GroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keepupv1.Group" />
        </activity>
        
    </application>

</manifest>